In [1]:
import pandas as pd

# Path to the file
file_path = '/home/ymusic7/metro_restaurants/combined.csv'

# Load the dataset
data = pd.read_csv(file_path)

# Display the first few rows of the dataset
data.head()

/tmp/jobs/43375374/ipykernel_56979/227294004.py:7: DtypeWarning: Columns (1,5) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

,name,lat,lon,text,date,score,keyword,addr,language
0,Koi Sushi,44.604826,-79.372455,I've been here several times and am never disa...,2021-01-29 23:56:06,5,japanese restaurant,"660 Atherley Rd #1,2, Orillia, ON L3V 1P2, Canada",en
1,Koi Sushi,44.604826,-79.372455,Koi sushi has been great every time I've gone....,2024-05-27 00:55:48,5,japanese restaurant,"660 Atherley Rd #1,2, Orillia, ON L3V 1P2, Canada",en
2,Hanabi Japanese Restaurant,44.583675,-79.865521,"Very cute little spot, extremely friendly serv...",2024-09-13 11:21:05,5,japanese restaurant,"5 Queen St E, Elmvale, ON L0L 1P0, Canada",en
3,Sushi Zone & Ramen Stop,45.427738,-75.692325,又实惠又好吃这个价格能吃到金枪鱼盖饭真的是十分感动而且配菜还那么新鲜！,2024-09-29 13:34:47,5,japanese restaurant,"55 Byward Market Square, Ottawa, ON K1N 9J7, C...",zh-cn
4,2go sushi,44.606938,-80.592314,Cozy restaurant with nice owners and delicious...,2024-09-03 12:24:22,5,japanese restaurant,"16 Trowbridge St W #1, Meaford, ON N4L 1N2, Ca...",en

In [3]:
# Drop rows where 'keyword' is NaN
data = data.dropna(subset=['keyword'])

# Separate reviews by keyword
data_chinese = data[data['keyword'].str.contains('chinese', case=False)]
data_japanese = data[data['keyword'].str.contains('japanese', case=False)]

# Display the counts
print("Number of Chinese reviews:", len(data_chinese))
print("Number of Japanese reviews:", len(data_japanese))

Number of Chinese reviews: 292952
Number of Japanese reviews: 226949

In [ ]:
# Fill NaN values in 'keyword' with an empty string
data['keyword'] = data['keyword'].fillna('')

# Separate reviews by keyword
data_chinese = data[data['keyword'].str.contains('chinese', case=False)]
data_japanese = data[data['keyword'].str.contains('japanese', case=False)]

# Display the counts
print("Number of Chinese reviews:", len(data_chinese))
print("Number of Japanese reviews:", len(data_japanese))

In [6]:

data_chinese.loc[:, 'review_date'] = pd.to_datetime(data_chinese['date'])
data_chinese.loc[:, 'review_year'] = data_chinese['review_date'].dt.year
data_chinese.loc[:, 'review_month'] = data_chinese['review_date'].dt.month
data_chinese.loc[:, 'rating'] = data_chinese['score']

data_japanese.loc[:, 'review_date'] = pd.to_datetime(data_japanese['date'])
data_japanese.loc[:, 'review_year'] = data_japanese['review_date'].dt.year
data_japanese.loc[:, 'review_month'] = data_japanese['review_date'].dt.month
data_japanese.loc[:, 'rating'] = data_japanese['score']

In [8]:
data_chinese = data[data['keyword'].str.contains('chinese', case=False, na=False)]
data_japanese = data[data['keyword'].str.contains('japanese', case=False, na=False)]